<!doctype html>
<html lang="en">
  <head>
    
    <% include partials/head.ejs %>
    
  </head>

  <body>

    <div id="hero-image-login">
        <h1 id="hero-title"> Login with Your Account </h1>
    </div>

    <div class="container">
            <a href="/home" id="googleLogin" class="btn btn-block btn-social btn-lg btn-google">
                    <i class="fa fa-google">Sign in with google</i>
            </a>
    </div>

   
    <% include partials/footer.ejs %>
    
    <% include partials/scripts.ejs %>

  </body>

</html>