<!doctype html>
<html lang="en">
  <head>
    
    <% include partials/head.ejs %>
    
  </head>

  <body>

    <div id="hero-image-notFound">
        <h1 id="hero-title"> welcome </h1>
    </div>

    <div>
        <a href="/home">click here</a>
    </div>

    <% include partials/footer.ejs %>
    
    <% include partials/scripts.ejs %>

  </body>

</html>