<!doctype html>
<html lang="en">
  <head>
    
    <% include partials/head.ejs %>
    
  </head>

  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>

  <script>
    // Initialize Firebase
    // TODO: Replace with your project's customized code snippet
    var config = {
      apiKey: "AIzaSyCJ1j9XAV4qFbCnP4WpoiRcJ4nV8OgLMTg",
      authDomain: "mypotter-a97ef.firebaseapp.com",
      databaseURL: "https://mypotter-a97ef.firebaseio.com",
      projectId: "mypotter-a97ef",
      storageBucket: "mypotter-a97ef.appspot.com",
      messagingSenderId: "682283844468",
    };
    firebase.initializeApp(config);
  </script>

  <script src="https://cdn.firebase.com/libs/firebaseui/3.5.1/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.1/firebaseui.css" />
  <script type="text/javascript">
  // FirebaseUI config.
  var uiConfig = {
      signInSuccessUrl: '/home',
      signInOptions: [
      // Leave the lines as is for the providers you want to offer your users.
      firebase.auth.GoogleAuthProvider.PROVIDER_ID,
      ],
      // tosUrl and privacyPolicyUrl accept either url string or a callback
      // function.
      // Terms of service url/callback.
      tosUrl: '<your-tos-url>',
  };

  // Initialize the FirebaseUI Widget using Firebase.
  var ui = new firebaseui.auth.AuthUI(firebase.auth());
  // The start method will wait until the DOM is loaded.
  ui.start('#firebaseui-auth-container', uiConfig);
  </script>

  <body>

    <!-- <div id="hero-image-notFound">
        <h1 id="hero-title"> welcome </h1>
    </div> -->

    

        <!-- <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>

        <script>
          // Initialize Firebase
          // TODO: Replace with your project's customized code snippet
          var config = {
            apiKey: "AIzaSyCJ1j9XAV4qFbCnP4WpoiRcJ4nV8OgLMTg",
            authDomain: "mypotter-a97ef.firebaseapp.com",
            databaseURL: "https://mypotter-a97ef.firebaseio.com",
            projectId: "mypotter-a97ef",
            storageBucket: "mypotter-a97ef.appspot.com",
            messagingSenderId: "682283844468",
          };
          firebase.initializeApp(config);
        </script>

        <script src="https://cdn.firebase.com/libs/firebaseui/3.5.1/firebaseui.js"></script>
        <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.1/firebaseui.css" />
        <script type="text/javascript">
        // FirebaseUI config.
        var uiConfig = {
            signInSuccessUrl: '/home',
            signInOptions: [
            // Leave the lines as is for the providers you want to offer your users.
            firebase.auth.GoogleAuthProvider.PROVIDER_ID,
            ],
            // tosUrl and privacyPolicyUrl accept either url string or a callback
            // function.
            // Terms of service url/callback.
            tosUrl: '<your-tos-url>',
        };

        // Initialize the FirebaseUI Widget using Firebase.
        var ui = new firebaseui.auth.AuthUI(firebase.auth());
        // The start method will wait until the DOM is loaded.
        ui.start('#firebaseui-auth-container', uiConfig);
        </script> -->


    <% include partials/footer.ejs %>
    
    <% include partials/scripts.ejs %>

  </body>

</html>